/*
 FONTES DE TEXTO PARA COFFE GAMER
    
Monofont-family: 'Roboto ', monospace;
font-family: 'Russo One', sans-serif;
font-family: 'Silkscreen', cursive;

*/

.conteiner2 {
    background-color: #2EA9FE;
}

.buttom1 {
    font-family: 'Roboto Mono', monospace;
}

.coffe-gamer {
   
    font-family: 'Roboto Mono', monospace;
    font-size: 4rem;
}


.pepinox1 {
    font-family: 'Russo One', sans-serif;
    font-size: 17px;
}

.pepinox2 {
    font-family: 'Russo One', sans-serif;
}






 

/*
coffe-gamer
font-family: 'Amatic SC', cursive;
font-family: 'Chewy', cursive;
font-family: 'Lora', serif;
font-family: 'Amatic SC', cursive;

*/

.coffe-lofi {
    font-family: 'Amatic SC', cursive;
    font-size: 4rem;
    margin: 10px;
}

.pepino {
    font-family: 'Lora', serif;
    font-size: 1.4rem;
    bottom: 25px;
}

.pepino3 {
    font-family: 'Chewy', cursive;
}

li {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
}





.conteiner1 {
  
  background-color: #8FBC8F;

}


  