
/*
font-family: 'Amatic SC', cursive;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Kalam', cursive;
font-family: 'Permanent Marker', cursive;
Monofont-family: 'Roboto ', monospace;
font-family: 'Russo One', sans-serif;
font-family: 'Silkscreen', cursive;
*/
/*
*/
.buttom1 {
    font-family: 'Roboto Mono', monospace;
}

h1 {
   
    font-family: 'Silkscreen', cursive;
    font-size: 2rem;
}

.pepino {
    font-family: 'Russo One', sans-serif;
    font-size 1.5rem
}S